[submodule "ardrone_autonomy"]
	path = ardrone_autonomy
	url = https://github.com/AutonomyLab/ardrone_autonomy
[submodule "ardrone_tutorials"]
	path = ardrone_tutorials
	url = https://github.com/mikehamer/ardrone_tutorials
